/* Global */

:root{
    /* Color */
    --color-white:#ffffff;
    --color-light-white:#eeeeee;
    --color-dark-white:#bdbdbd;
    --color-ocean:#0174DF;
    --color-dark-ocean:#013ADF;

    



    --color-dark-pink:#ff6863;
    --color-black:#4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-light-grey:#7c7979;
    --color-blue:#73aace;
    --color-yellow:#fff7d1;
    --color-orange: #feb546;
    --color-black:#000000;
    

    /* Font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;
    

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /* Size */
    --size-border-radius:10px;

    /* animation--duration */
    --animation-duration:300ms;


}


/* Universal tags */
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    cursor:default;
    min-width: 750px;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
    list-style: none;
}

section{
    text-align: center;
    padding: 50px;
}



/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color:var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 3px 0;
}


/* Navbar */

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-ocean);
    align-items: center;
    padding: 8px 16px;
    color: var(--color-white);
}

.navbar__menu{
    display: inline-flex;
}

.navbar__menu__div{
    display: inline-flex;
}

.navbar__menu__items{
    display: inline;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__items.active{
    border: var(--color-white) 1px solid;
}

.navbar__menu__items:hover{
    background-color: var(--color-dark-ocean);
}


.navbar__logo{
    font-size: var(--font-regular);
    font-weight: var( --weight-semi-bold);
}


/* toggle button */

.navbar__toggle{
    color: white;
    border: none;
    background-color: var(--color-ocean);
    display: none;
}


/* Home */

#home{
    text-align: center;
    padding: 16px 0px;
    background-color: #65AAF0;
    color: var(--color-white);
    background: url(images/cloudpic.png) center/cover no-repeat;
}

.home__title{
    color: var(--color-white);
}

.home__description{
    color: var(--color-white);
    margin-bottom: 16px;    
}

.home__profile{
    width: 250px;
    height:250px;
    border-radius: 75%;
    margin:8px 0px;
}

/* .home__contact{
 margin: 16px;
 background-color: transparent;
 border: black solid 3px;
 /* var(--color-white) 2px solid; */
 padding: 8px 12px;
 color: var(--color-white);
 font-size: var(--font-medium);
 border-radius: var(--size-border-radius);
 cursor: pointer;
 color: black;

} */


/* About */

.skill__icon{
    border: black solid 1px;
    height: 150px;
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 185px;
    border-radius: 100%;
    margin-bottom: 16px;
}

.about__content{
    display: inline-block;
}

#about>h2{
    margin-top: 100px;
}


/* about__skills */
.about__skills{
    display: flex;
    margin:50px;
    justify-content: space-between;
}

.skill{
    display: inline-block;
    width: 33.3%;
}


.skill>h3{
    font-weight: var(--weight-semi-bold);
}

.skill>p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin: 8px 0;
}

.fa-html5{
    font-size: 70px;
}

.fa-database{
    font-size: 70px;
}

.fa-aws{
    font-size: 70px;
}



/* about__hobbies */


.about__hobbies{
    display: flex;
    margin:50px;
}

.hobby{
    display: inline-block;
    width: 33.3%;
}

.hobby__icon{
    height: 100px;
    border-radius: 100%;
    margin: auto;
    margin-top: 22px;
    
}

.hobby>h3{
    font-weight: var(--weight-semi-bold);
}

.hobby>p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color:var(--color-black);
    margin: 8px 0;
}

.hobby__icon{
    margin-bottom: 16px;
}


.fa-film{
    font-size: 70px;
}

.fa-dollar-sign{
    font-size: 70px;
}


/* Skill */

#skills {
    background-color: var(--color-light-white);
}

#skills>h2{
    margin-bottom: 50px;
}

.skillset {
    display: flex;
    width: 100%;
}

.skillset__1th{
    flex-basis: 65%;
    background-color: #424242;
    color: white;
    padding-bottom: 50px;
}

.about__qualification
{
    flex-basis: 35%;
    background-color: #585858;
    padding-left:20px;
}


.skillset__1th>li{
    justify-content: bet;
}


.skillset__1th>h3{
    color:var(--color-white);
    font-weight: var(--weight-semi-bold);
    margin-top:20px;
    margin-bottom: 30px;
}

.skill__value{
    background-color: yellow;
    height: 2px;
}

.skillset__contents{
    margin: 0px 20px;
}

.skillset__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px 0;
}

.skillset__content{
    flex-basis: 60%;
}

.skillset__bar{
    margin-top: 8px;
    margin-bottom: 16px;
}



.skillset__bar{
    width: 100%;
    background-color: gray;
    height: 3px;
}


.about__qualification>h3{
    color:var(--color-white);
    font-weight: var(--weight-semi-bold);
    margin-top:20px;
    margin-bottom: 30px;
}

.qualification{
    text-align: left;
    color: var(--color-white);
    margin: 15px 0px;

    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}


/* about__career */
.about__career>h2{
    margin-top: 100px;

}

.career{
    margin-top: 50px;
}

.career__list{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items:center;
}

.career__list>a{
    margin-right: 5%;
}

.skill__icon i:hover{
    transform: scale(1.2);
    transition: var(--animation-duration);

}

.skill__icon img:hover{
    transform: scale(1.2);
    transition: var(--animation-duration);

}

.career__logo{
    width: 120px;
    margin-right: 5%;
}

.career__listright>p{
    text-align: left;
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
}


/* Contact */

#contact{
    background-color: var(--color-ocean);
    color: white;
    padding: 20px;
}

#contact>h2{
    color: white;
}

#contact>p{
    color: white;
}

.contacts{
    
}

.contact__icon i:hover{
    transform: scale(1.1);
}

.contact__icon{
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    align-items: center;
}

.contact__icon>a{
    text-align: center;
}

#reserved__txt>h3{
    color: white;
}

#emailbox h3{
    color: white;
    margin-top:20px;
}


/* My work */





/* for below 768px screen width */
@media screen and (max-width:768px) {
    .navbar__toggle{
        display: block;
        align-self: center;
        padding-top: 8px;

    }
    
    #navbar{
        flex-direction: column;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
    }

    .navbar__menu{
        width: 100%;        
    }

    .navbar__menu ul{
    display: none;
    }



}
